* {
    margin: 0;
    padding: 0;
    font-family: Poppins;
    scroll-behavior: smooth;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

nav h1 {
    font-size: 1.5rem;
}

.logo {
    display: none;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    margin: 0 0.5rem;
}

.hamburger {
    display: none;
    flex-direction: column;
    gap: 4px;
    cursor: pointer;
}

.hamburger span {
    width: 25px;
    height: 4px;
    background-color: black;
}

.hero {
    display: flex;
    justify-content: space-between;
    background-color: #ffde59;
    padding: 4rem 8% 2rem;
}

.hero-content {
    padding: 2rem;
}

.hero-content h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.cta-button {
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
}

.hero-img img {
    max-width: 100%;
}

.services {
    padding: 4rem 8%;
    display: flex;
    gap: 2rem;
    flex-direction: column;
}

.services h2 {
    font-size: 2rem;
    text-align: center;
}

.service-cards {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    text-align: center;
}

.service-card {
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    flex: 1;
}

.service-card h3 {
    margin-bottom: 1rem;
}

.service-card p {
    color: #555;
}

.service-card img {
    width: 100px;
}

.about {
    padding: 4rem 8%;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: space-around;
    background-color: #ffde59;
}

.about-img img {
    width: 300px;
}

.about-content {
    max-width: 600px;
}

.about-content h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.about-content p {
    color: #555;
    margin-bottom: 2rem;
}

.contact {
    padding: 4rem 8%;
}

.contact h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
}

.contact p {
    text-align: center;
    color: #555;
    margin-bottom: 2rem;
}

.contact form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 400px;
    margin: 0 auto;
}

.contact form input,
.contact form textarea {
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact form button {
    padding: 0.75rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.social-links {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.social-links a {
    text-decoration: none;
    color: #333;
    margin: 0 0.5rem;
    font-size: 1.5rem;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: black;
    color: white;
    font-size: 0.9rem;
}

.whatsapp-float {
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 55px;
    height: 55px;
    z-index: 9999;
    text-decoration: none;
    background-color: #25d366;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease;
}

.whatsapp-float:hover {
    transform: scale(1.1);
}

.whatsapp-float i {
    color: white;
    font-size: 24px;
}

.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
    z-index: 998;
}

.overlay.active {
    opacity: 1;
    visibility: visible;
}

.success-message {
    padding: 1rem 2rem;
    height: 90vh;
}


@media screen and (max-width: 768px) {
    nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: white;
        z-index: 1001;
    }

    .nav-links {
        position: fixed;
        top: 0;
        left: -260px;
        width: 250px;
        height: 100vh;
        background: white;
        box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        transition: left 0.3s ease;
        z-index: 1000;
    }

    .nav-links a,
    .nav-links h1 {
        padding: 1rem;
        margin: 0;
        border-bottom: 1px solid #eee;
    }

    .logo {
        display: flex;
    }

    .nav-links.active {
        left: 0;
    }

    .hamburger {
        display: flex;
        margin-right: 2rem;
    }

    .hamburger span {
        transition: 0.3s;
    }

    /* When menu is open */
    .hamburger.active span:nth-child(1) {
        transform: rotate(45deg) translate(6px, 6px);
    }

    .hamburger.active span:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active span:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }

    .hero {
        flex-direction: column;
        padding: 6rem 2rem 2rem;
        
    }

    .hero-content {
        padding: 0;
        width: auto;
        display: flex;
        flex-direction: column;
    }

    .cta-button {
        align-self: flex-start;
        margin-top: 0.5rem;
    }

    .hero-content h1 {
        font-size: 1.7rem;
    }

    .hero-content p {
        font-size: 1rem;
    }

    .hero-img img {
        margin-left: 2rem;
    }

    .about {
        flex-direction: column;
        text-align: center;
    }

    .about-img img {
        width: 200px;
    }

}